<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Breakfast</title>
</head>
<body class="pageBgColor">
    <div th:include="partials/navbar.html :: navbar"></div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../img/breakfast.jpeg" alt="Breakfast Diet Image" class="img-fluid">
                </div>
                <div class="col text-center whatIs">
                    <h4 class="mb-4 catTitle">Everyone Loves Breakfast</h4>
                    Lorem ipsum dolor sit amet?
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at aut consectetur corporis cum, distinctio doloribus eos exercitationem facere illum minima numquam odit quaerat quasi quibusdam quis reprehenderit. Ab, mollitia?
                    <br>
                    <br>
                    <form th:action="@{/breakfast}" method="post">
                        <button class="btn btn-warning pageBtn mt-3" id="breakfast">Breakfast Button</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between" id="recipe-cards">

        </div>
    </div>

<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
    const options = {
        method: "GET"
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var breakfastArr = [];
                var iterator = 0;
                for(var i = 0; i < response.recipes.length; i++){
                    if(response.recipes[i].dishTypes !== undefined) {
                        for (var j = 0; j < response.recipes[i].dishTypes.length; j++) {
                            //set the hard coded string as a variable based on the category for filter
                            if (response.recipes[i].dishTypes.includes("breakfast")) {
                                // console.log(response.recipes[i]);
                                if('image' in response.recipes[i]) {
                                    // The following line eliminates duplicate elements from the array
                                    if (breakfastArr.includes(response.recipes[i]) === false) breakfastArr.push(response.recipes[i]);
                                    // breakfastArr.push(response.recipes[i])
                                }
                            }
                        }
                    }
                }
                console.log(breakfastArr);
                var emptyString="";
                for(var k=0; k <breakfastArr.length; k++){
                    var emptyIngredients = "";
                    emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                    for(var g=0; g<breakfastArr[k].extendedIngredients.length; g++){
                        emptyIngredients+="<div class='babyCard'>"
                        emptyIngredients+="<div>" + breakfastArr[k].extendedIngredients[g].original + "</div>"
                        emptyIngredients+="<input type='hidden' name='ingredients' value='"+breakfastArr[k].extendedIngredients[g].original+"'/>"
                        emptyIngredients+="</div>"
                    }
                    emptyIngredients+="</form>"

                    emptyString+="<div class='card col-4'>"
                    emptyString+="<div class='card-title text-center'><h3>" + breakfastArr[k].title + "</h3></div><br>"
                    emptyString+="<div class='recipeImage'><img style='width: 275px' alt='recipeImg' src="+ breakfastArr[k].image +"></div>"
                    emptyString+="<div class='card-body text-center'><p>" + breakfastArr[k].instructions + "</p></div>"
                    emptyString+=emptyIngredients
                    // emptyString+="<button class='button2 mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                    emptyString+="<button class='button2 mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                    emptyString+="<form action='/profile' method='post'>"
                    // emptyString+="<button type='submit'>Save Recipe</button>"
                    emptyString+="</form>"
                    emptyString+="</div>"


                }
                $("#recipe-cards").html(emptyString);

            })
            .then(response => console.log(response))
    }

    document.getElementById("breakfastButton").addEventListener('click', spoon);
    /*]]>*/
</script>
</body>
</html>