<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Dairy Free Page</title>
</head>
<body class="pageBgColor">
    <div th:include="partials/navbar.html :: navbar"></div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../img/dairy-free.jpeg" alt="Dairy Free Diet Image" class="img-fluid">
                </div>
                <div class="col text-center whatIs">
                    <h4 class="mt-2 mb-4 catTitle">Dairy Free Diet!</h4>
                    What is a dairy-free diet?
                    <br>
                    A dairy-free diet includes avoiding all or most dairy products including milk, butter, yoghurt, cheese, cream and ice cream. Unlike a vegan or plant-based diet, a dairy-free still includes other animal products, such as meat, fish and eggs.                    <br>
                    <br>
                    <form th:action="@{/dairyFree}" method="post">
                        <button class="btn btn-warning pageBtn mt-3" id="dairy">Denounce Dairy!</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row justify-content-between" id="recipe-cards"></div>

    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const spoonkey = /*[[${spoonkey}]]*/ 'default';
        console.log(spoonkey);
        const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
        const options = {
            method: "GET",
        };
        const spoon = function(e) {
            e.preventDefault();
            fetch(url, options).then(response => response.json())
                .then(response => {
                    var dairyArr = [];
                    var iterator = 0;

                    for (var i = 0; i < response.recipes.length; i++) {
                        if (response.recipes[i].diets !== undefined) {
                            for (var j = 0; j < response.recipes[i].diets.length; j++) {
                                //set the hard coded string as a variable based on the category for filter
                                if (response.recipes[i].diets.includes("dairy free")) {
                                    // console.log(response.recipes[i]);
                                    if (dairyArr.includes(response.recipes[i]) === false) dairyArr.push(response.recipes[i]);
                                }
                            }
                        }

                    }
                    console.log(dairyArr);
                    var emptyString="";
                    for(var k=0; k <dairyArr.length; k++){
                        var emptyIngredients = "";
                        emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                        for(var g=0; g<dairyArr[k].extendedIngredients.length; g++){

                            emptyIngredients+="<div class='babyCard'>"
                            emptyIngredients+="<div>" + dairyArr[k].extendedIngredients[g].original + "</div>"
                            emptyIngredients+="<input type='hidden' name='ingredients' value='"+dairyArr[k].extendedIngredients[g].original+"'/>"
                            emptyIngredients+="</div>"
                        }
                        emptyIngredients+="</form>"

                        emptyString+="<div class='card col-4'>"
                        emptyString+="<div class='card-title text-center'><h3>" + dairyArr[k].title + "</h3></div><br>"
                        emptyString+="<div class=''><img style='width: 250px' alt='recipeImg' src="+ dairyArr[k].image +"></div>"
                        emptyString+="<div class='card-body text-center'><p>" + dairyArr[k].instructions + "</p></div>"
                        emptyString+=emptyIngredients
                        emptyString+="<button class='button2 mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                        // emptyString+="<form action='/profile' method='post'>"
                        // emptyString+="<button type='submit'>Save Recipe</button>"
                        // emptyString+="</form>"
                        emptyString+="</div>"



                    }
                    $("#recipe-cards").html(emptyString);
                })
                .then(response => console.log(response))
        }
        document.getElementById("dairy").addEventListener('click', spoon);
    </script>

</body>
</html>