<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>No Gluten</title>
</head>
<body class="pageBgColor">
<div th:include="partials/navbar.html :: navbar"></div>


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../img/gluten-free.jpeg" alt="Gluten Free Diet Image" class="img-fluid">
            </div>
            <div class="col text-center whatIs">
                <h4 class="mt-2 mb-4 catTitle">EHHHH GLUTEN!!!</h4>
                What is gluten free?
                <br>
                A gluten-free diet excludes any foods that contain gluten, which is a protein found in wheat and several other grains. It means eating only whole foods that don't contain gluten, such as fruits, vegetables, meat and eggs, as well as processed gluten-free foods like gluten-free bread or pasta.                <br>
                <br>
                <form th:action="@{/glutenFree}" method="post">
                    <button class="btn btn-warning pageBtn mt-3" id="glutenFree">Give me Gluten Free!</button><br>
                </form>
            </div>
        </div>
    </div>
</div>




<!--    <form th:action="@{/glutenFree}" method="post">-->
<!--        <h4>EHHHH GLUTEN!!!</h4>-->
<!--        <form action="">-->
<!--            <button id="glutenFree">Give me Gluten Free!</button><br>-->
<!--        </form>-->
<!--</form>-->
<div class="container">
    <div class="row justify-content-between" id="recipe-cards">

    </div>
</div>

<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
    const options = {
        method: "GET"
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var glutenFreeArr = [];
                var iterator = 0;
                do{
                    // console.log(response.recipes[0].glutenFree);
                    if(response.recipes[iterator].glutenFree === true){
                        if('image' in response.recipes[iterator]) {
                            if (glutenFreeArr.includes(response.recipes[iterator]) === false) glutenFreeArr.push(response.recipes[iterator]);
                        }
                    }
                    iterator++;
                }while(glutenFreeArr.length < 20)
                console.log(glutenFreeArr);
                var emptyString="";
                for(var k=0; k <glutenFreeArr.length; k++){
                    var emptyIngredients = "";
                    emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                    for(var g=0; g<glutenFreeArr[k].extendedIngredients.length; g++){

                        emptyIngredients+="<div class='babyCard'>"
                        emptyIngredients+="<div>" + glutenFreeArr[k].extendedIngredients[g].original + "</div>"
                        emptyIngredients+="<input type='hidden' name='ingredients' value='"+glutenFreeArr[k].extendedIngredients[g].original+"'/>"
                        emptyIngredients+="</div>"
                    }
                    emptyIngredients+="</form>"

                    emptyString+="<div class='card col-4'>"
                    emptyString+="<div class='card-title'><h3>" + glutenFreeArr[k].title + "</h3></div><br>"
                    emptyString+="<div class='recipeImage'><img style='width: 275px' alt='recipeImg' src="+ glutenFreeArr[k].image +"></div>"
                    emptyString+="<div class='card-body'><p>" + glutenFreeArr[k].instructions + "</p></div>"
                    emptyString+=emptyIngredients
                    emptyString+="<button class='btn btn-success mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                    // emptyString+="<form action='/profile' method='post'>"
                    // emptyString+="<button type='submit'>Save Recipe</button>"
                    // emptyString+="</form>"
                    emptyString+="</div>"


                }
                $("#recipe-cards").html(emptyString);
            })
            .then(response => console.log(response))
    }

    document.getElementById("glutenFree").addEventListener('click', spoon);
    /*]]>*/
</script>
</body>
</html>