<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Keto Kool</title>
</head>
<body>
    <div th:include="partials/navbar.html :: navbar"></div>
        <form th:action="@{/healthFoods}" method="post">
            <h4>Home of Health</h4>
        <form action="">
            <button id="health">Healthy Helper!</button><br>
        </form>
    </form>
    <div id="recipe-cards" class="d-flex flex-wrap">

    </div>


</body>

<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
    const options = {
        method: "GET",
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var healthArr = [];
                var iterator = 0;
                for(var i = 0; i < response.recipes.length; i++){
                    if(response.recipes[i].veryHealthy){
                        if (healthArr.includes(response.recipes[iterator]) === false) healthArr.push(response.recipes[iterator]);
                    }
                    iterator++;
                }
                console.log(healthArr);
                var emptyString="";
                for(var k=0; k <healthArr.length; k++){

                    emptyString+="<div class='card col-4'>"
                    emptyString+="<div class='card-title'><h3>" + healthArr[k].title + "</h3></div><br>"
                    emptyString+="<div><img style='width: 325px' alt='recipeImg' src="+ healthArr[k].image +"></div>"
                    emptyString+="<div class='card-body'><p>" + healthArr[k].instructions + "</p></div>"
                    emptyString+="<form th:action='@{/order}' method='get'>"
                    emptyString+="<button type='submit'>Add to cart</button>"
                    emptyString+="</form>"
                    emptyString+="</div>"

                }
                $("#recipe-cards").html(emptyString);
            })
            .then(response => console.log(response))
    }

    document.getElementById("health").addEventListener('click', spoon);
    /*]]>*/
</script>
</html>