<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Keto Kool</title>
</head>
<body>
    <div th:include="partials/navbar.html :: navbar"></div>
        <form th:action="@{/keto}" method="post">
            <h4>Keto Kool Krew</h4>

        </form>
    <form action="">
        <button id="keto">Keep Me Keto</button><br>
    </form>



</body>

<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
    const options = {
        method: "GET",
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var ketoArr = [];
                var iterator = 0;
                let diets = [];
                do{
                    console.log(response.recipes[iterator].diets.includes('ketogenic'));

                        if (response.recipes[iterator].diets.includes('ketogenic')) {
                            ketoArr.push(response.recipes[iterator])
                        }

                    iterator++;
                }while(ketoArr.length < 20)
                return ketoArr;
            })
            .then(response => console.log(response))
    }

    document.getElementById("keto").addEventListener('click', spoon);
    /*]]>*/
</script>
</html>