<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Lacto-Veg</title>
</head>
<body>
    <div th:include="partials/navbar.html :: navbar"></div>
        <form th:action="@{/lactoVeg}" method="post">
            <h4>No Egg Only Veg</h4>

    </form>
    <form action="">
        <button id="lactoVeg">Vegs no Eggs</button><br>
    </form>

<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&tag=vegetarian&apiKey=" + spoonkey;
    const options = {
        method: "GET",
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var lactoVegArr = [];
                var iterator = 0;
                do{
                    var i = 0;
                    console.log(response.recipes[iterator].extendedIngredients[iterator].name);
                    if(response.recipes[iterator].extendedIngredients[i].id !== 1123){
                        lactoVegArr.push(response.recipes[iterator])
                        i++;
                    }
                    iterator++;
                }while(lactoVegArr.length < 20)
                return lactoVegArr;
            })
            .then(response => console.log(response))
    }

    document.getElementById("lactoVeg").addEventListener('click', spoon);
    /*]]>*/
</script>
</body>
</html>