<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Pescatarian</title>
</head>
<body class="pageBgColor">
    <div th:include="partials/navbar.html :: navbar"></div>


    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../img/pescatarian.jpeg" alt="Pescatarian Diet Image" class="img-fluid">
                </div>
                <div class="col text-center whatIs">
                    <h4 class="mt-1 mb-2 catTitle">Pesky Pescatarian</h4>
                    Can you eat eggs if you are a pescatarian?
                    <br>

                    Pescatarians have a lot in common with vegetarians. They eat fruits, veggies, nuts, seeds, whole grains, beans, eggs, and dairy, and stay away from meat and poultry.                    <form th:action="@{/pesce}" method="post">
                        <button class="btn btn-warning pageBtn mt-3" id="pesce">Push Por Pesca!</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!--        <form th:action="@{/pesce}" method="post">-->
<!--            <h4>Pesky Pescatarian</h4>-->
<!--            <form action="">-->
<!--                <button id="pesce">Push Por Pesca!</button><br>-->
<!--            </form>-->
<!--        </form>-->
    <div class="container">
        <div class="row justify-content-between" id="recipe-cards">

        </div>
    </div>
    <script th:inline="javascript">
        const spoonkey = /*[[${spoonkey}]]*/ 'default';
        console.log(spoonkey);
        const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
        const options = {
            method: "GET"
        };
        const spoon = function(e) {
            e.preventDefault();
            fetch(url, options).then(response => response.json())
                .then(response =>{
                    var pesceArr = [];
                    var iterator = 0;
                    for(var i = 0; i < response.recipes.length; i++){
                        if(response.recipes[i].diets !== undefined) {
                            for (var j = 0; j < response.recipes[i].diets.length; j++) {
                                //set the hard coded string as a variable based on the category for filter
                                if (response.recipes[i].diets.includes("pescatarian")) {
                                    // console.log(response.recipes[i]);
                                    if('image' in response.recipes[i]) {
                                        if (pesceArr.includes(response.recipes[i]) === false) pesceArr.push(response.recipes[i]);
                                    }
                                }
                            }
                        }
                    }
                    console.log(pesceArr);
                    var emptyString="";
                    for(var k=0; k <pesceArr.length; k++){
                        var emptyIngredients = "";
                        emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                        for(var g=0; g<pesceArr[k].extendedIngredients.length; g++){

                            emptyIngredients+="<div class='babyCard'>"
                            emptyIngredients+="<div>" + pesceArr[k].extendedIngredients[g].original + "</div>"
                            emptyIngredients+="<input type='hidden' name='ingredients' value='"+pesceArr[k].extendedIngredients[g].original+"'/>"
                            emptyIngredients+="</div>"
                        }
                        emptyIngredients+="</form>"

                        emptyString+="<div class='card col-4'>"
                        emptyString+="<div class='card-title text-center'><h3>" + pesceArr[k].title + "</h3></div><br>"
                        emptyString+="<div class='recipeImage'><img style='width: 275px' alt='recipeImg' src="+ pesceArr[k].image +"></div>"
                        emptyString+="<div class='card-body text-center'><p>" + pesceArr[k].instructions + "</p></div>"
                        emptyString+=emptyIngredients
                        emptyString+="<button class='btn btn-success mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                        // emptyString+="<form action='/profile' method='post'>"
                        // emptyString+="<button type='submit'>Save Recipe</button>"
                        // emptyString+="</form>"
                        emptyString+="</div>"

                    }
                    $("#recipe-cards").html(emptyString);
                })
                .then(response => console.log(response))
        }
        document.getElementById("pesce").addEventListener('click', spoon);
        /*]]>*/
    </script>

</body>
</html>