<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Popular Food</title>
</head>
<body class="pageBgColor">
    <div th:include="partials/navbar.html :: navbar"></div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../img/popular-foods.jpeg" alt="Popular foods image of a hamburger" class="img-fluid">
                </div>
                <div class="col text-center whatIs">
                    <h4 class="mt-1 mb-2 catTitle">Poppin Plates</h4>
                    What is the most popular dish?
                    <br>
                    According to data from Grubhub, the spicy chicken sandwich was the most popular dish in 2020. And, while chicken nugget sales have reportedly dropped in recent years, Americans still ate around 2.3 billion servings of them in restaurants in 2018            <br>
                    <form th:action="@{/popularFoods}" method="post">
                        <button class="btn btn-warning pageBtn mt-3" id="pop">Poppin Plates</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between" id="recipe-cards">

        </div>
    </div>


    <script th:inline="javascript">
        const spoonkey = /*[[${spoonkey}]]*/ 'default';
        console.log(spoonkey);
        const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
        const options = {
            method: "GET",
        };
        const spoon = function(e) {
            e.preventDefault();
            fetch(url, options).then(response => response.json())
                .then(response =>{
                    var popularArr = [];
                    var popularIngredients = [];
                    var iterator = 0;
                    for(var i = 0; i < response.recipes.length; i++){
                        if(response.recipes[iterator].veryPopular){
                            if('image' in response.recipes[iterator]) {
                                popularArr.push(response.recipes[iterator])
                            }
                        }
                        iterator++;
                    }
                    console.log(popularArr);
                    var emptyString="";
                    for(var k=0; k <popularArr.length; k++){
                        var emptyIngredients = "";
                        emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                            for(var j=0; j<popularArr[k].extendedIngredients.length; j++){
                                emptyIngredients+="<div class='babyCard'>"
                                emptyIngredients+="<div>" + popularArr[k].extendedIngredients[j].original + "</div>"
                                emptyIngredients+="<input type='hidden' name='ingredients' value='"+popularArr[k].extendedIngredients[j].original+"'/>"
                                emptyIngredients+="</div>"
                            }
                        emptyIngredients+="</form>"
                        emptyString+="<div class='card col-4'>"
                        emptyString+="<div class='card-title text-center' name='recipeTitle'><h3>" + popularArr[k].title + "</h3></div><br>"
                        emptyString+="<input type='hidden' name='recipeID' value='" + popularArr[k].id + "'/>"
                        emptyString+="<div class='recipeImage'><img style='width: 275px' alt='recipeImg' src="+ popularArr[k].image +"></div>"
                        emptyString+="<div class='card-body text-center' name='recipeInstructions'><p>" + popularArr[k].instructions + "</p></div>"
                        emptyString+=emptyIngredients
                        emptyString+="<button class='btn btn-success mb-2' type='submit' form='ingredients" + k + "'>Add to cart</button>"
                        emptyString+="</div>"

                    }
                    $("#recipe-cards").html(emptyString);
                })
                .then(response => console.log(response))
        }
        document.getElementById("pop").addEventListener('click', spoon);
        /*]]>*/
    </script>
</body>
</html>