<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Primal</title>
</head>
<body>

    <div th:include="partials/navbar.html :: navbar"></div>
        <form th:action="@{/primal}" method="post">
            <h4>Primal Foodie!</h4>
            <form action="">
                <button id="primal">Let's Get Primal</button><br>
            </form>
    </form>
    <div id="recipe-cards" class="d-flex flex-wrap">

    </div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=100&apiKey=" + spoonkey;
    const options = {
        method: "GET",
    };
    const spoon = function(e) {
        e.preventDefault();
        fetch(url, options).then(response => response.json())
            .then(response =>{
                var primalArr = [];
                var iterator = 0;

//Keep this here for Alex
                // console.log(response);
                // console.log(response.recipes[iterator]);
                // console.log(response.recipes[iterator].diets[iterator]);
                // primalArr.push(response.recipes[0]);
                // primalArr.push(response.recipes[1]);
                // console.log(primalArr);
                // console.log(primalArr[0]);
                // console.log(primalArr[1]);
                // console.log(primalArr[0].diets[0]);
                for(var i = 0; i < response.recipes.length; i++){
                    if(response.recipes[i].diets !== undefined) {
                        for (var j = 0; j < response.recipes[i].diets.length; j++) {
                            //set the hard coded string as a variable based on the category for filter
                            if (response.recipes[i].diets.includes("primal")) {
                                // console.log(response.recipes[i]);
                                if (primalArr.includes(response.recipes[i]) === false) primalArr.push(response.recipes[i]);
                            }
                        }
                    }

                }


                console.log(primalArr);
                var emptyString="";
                for(var k=0; k <primalArr.length; k++){
                    var emptyIngredients = "";
                    emptyIngredients+="<form action='/order' method='get' id='ingredients"+k+"'/>"
                    for(var g=0; g<primalArr[k].extendedIngredients.length; g++){

                        emptyIngredients+="<div class='babyCard'>"
                        emptyIngredients+="<div>" + primalArr[k].extendedIngredients[g].original + "</div>"
                        emptyIngredients+="<input type='hidden' name='ingredients' value='"+primalArr[k].extendedIngredients[g].original+"'/>"
                        emptyIngredients+="</div>"
                    }
                    emptyIngredients+="</form>"

                    emptyString+="<div class='card col-4'>"
                    emptyString+="<div class='card-title'><h3>" + primalArr[k].title + "</h3></div><br>"
                    emptyString+="<div><img style='width: 325px' alt='recipeImg' src="+ primalArr[k].image +"></div>"
                    emptyString+="<div class='card-body'><p>" + primalArr[k].instructions + "</p></div>"
                    emptyString+=emptyIngredients
                    emptyString+="<button type='submit' form='ingredients" + k + "'>Add to cart</button>"
                    // emptyString+="<form action='/profile' method='post'>"
                    // emptyString+="<button type='submit'>Save Recipe</button>"
                    // emptyString+="</form>"
                    emptyString+="</div>"

                }
                $("#recipe-cards").html(emptyString);
            })
            .then(response => console.log(response))
    }


    // for(var i = 0; i < response.recipes.length; i++){
    //     if(response.recipes[i].diets.includes("primal") && response.recipes[i].diets !== undefined) {
    //
    //         console.log(response.recipes[i]);
    //         primalArr.push(response.recipes[i])
    //     }
    // }
    document.getElementById("primal").addEventListener('click', spoon);
     /*]]>*/
</script>
</body>
</html>