<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Veggie Lovers Page</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>
    <form th:action="@{/vegetarian}" method="post">
        <h4>Veggie Lovers Delight</h4>

    </form>
    <form action="">
        <button id="veggie">Give me some veggies!</button><br>
    </form>


<script th:inline="javascript">/*<![CDATA[*/const spoonkey = /*[[${spoonkey}]]*/ 'default';/*]]>*/</script>
</body>

</html>