<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar px-5 navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Food For Thought</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile/{name}}">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{vegetarian}">Vegetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{glutenFree}">Gluten Free</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{keto}">Ketogenic</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{lactoVeg}">Lacto-Vegetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Vegan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ovo-Vegetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Pescetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Paleo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Primal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Whole30</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order}" th:method="post">Shopping Cart</a>
                    </li>
                    <li class="nav-item me-auto">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/posts}" tabindex="-1"> All Posts</a>-->
<!--                    </li>-->

                </ul>
            </div>
        </nav>
    </div>
</body>
</html>