<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar px-5 navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Food For Thought</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/vegetarian}">Vegetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{glutenFree}">Gluten Free</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/healthFoods}">Health Foods</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{vegan}">Vegan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{popularFoods}">Poppin' Plates</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{pesce}">Pescetarian</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{dairyFree}">Dairy Free</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{primal}">Primal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{breakfast}">Breakfast</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{lunch}">Lunch</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{dinner}">Dinner</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order}" th:method="post">Shopping Cart</a>
                    </li>
                    <li class="nav-item me-auto" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>