<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body th:style="'background-color : orange'">

<nav th:include="partials/navbar.html :: navbar"></nav>

<form th:action="@{/recipes/edit}" method="post">
    <label for="recipeTitle">Title of Recipe:</label>
    <input id="recipeTitle" name="recipeTitle" th:value="${recipeToEdit.getTitle()}"required>Hold info about recipe TITLE
    <br>

    <label for="recipeDescription">Body of Recipe</label>
    <input id="recipeDescription" name="recipeDescription" th:value="${recipeToEdit.getDescription()}"required>Hold info about recipe Description
    <br>

    <label for="recipePrepTime">Prep Time of Recipe</label>
    <input id="recipePrepTime" name="recipePrepTime" th:value="${recipeToEdit.getPrep_time()}" required>Hold info about recipe Prep Time
    <br>

    <label for="ingredientName">Ingredients of Recipe:</label>
    <input id="ingredientName" name="ingredientName" th:value="${ingredientToEdit.getName()}"required>Hold info about recipe INGREDIENTS
    <br>

    <input type="hidden" name="recipeId" th:value="${recipeToEdit.getId()}">

    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit edit</button>
</form>
</body>
</html>