<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body th:style="'background-color : #f5ecbc'">

<nav th:include="partials/navbar.html :: navbar"></nav>


<form th:action="@{/recipes/edit}" method="post" class="editRecipe">
    <h2>Need to make adjustments to your recipe?</h2>
    <label for="recipeTitle">Different name?  </label>
    <input id="recipeTitle" name="recipeTitle" th:value="${recipeToEdit.getTitle()}" required>
    <br>
    <label for="recipeDescription">Different Steps/Description? </label>
    <input id="recipeDescription" name="recipeDescription" th:value="${recipeToEdit.getDescription()}" required>
    <br>
    <label for="recipePrepTime">More/Less Prep Time in Minutes: </label>
    <input id="recipePrepTime" name="recipePrepTime" type="number" th:value="${recipeToEdit.getPrep_time()}" required>
    <br>


<!--Div to edit photos of created recipes-->
    <h5>Want to change the picture?</h5>
    <div>
        <div class="file-path-wrapper">
        <div class="btn btn-primary btn-sm float-left" id="recipePic">
            <span>Choose file</span>
        </div>
            <input class="file-path validate" id="recipeImgPath" type="text" placeholder="Upload your file">
        </div>
    </div>

    <input type="hidden" name="recipeId" th:value="${recipeToEdit.getId()}">

    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit edit</button>
</form>
</body>
</html>