<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<!--All comments below: Trying to implement to the save feature to profile after new Recipe is created.-->

<div th:include="partials/navbar.html :: navbar"></div>

<form th:action="@{/profile}" th:method="get"> <!--th:object="${newRecipe}"-->
	<h3>Create your own recipe with this form!</h3><br>
	<label for="recipeTitle">Recipe title: </label>
	<input type="text" id="recipeTitle"><br> <!--th:field="*{title}"-->

	<label for="recipeDescription">Recipe Description: </label>
	<textarea  id="recipeDescription"></textarea><br> <!--th:field="*{description}"-->

	<fieldset>
		<legend>Prep-Time:</legend>
		<br>
		<!--th:field="*{prep_time}"--><input type="radio" name="prep_time" id="quickness">
		<label for="quickness">30 minutes</label><br>
		<!--th:field="*{prep_time}"--><input type="radio" name="prep_time" id="medTime">
		<label for="medTime">1 hour</label><br>
		<!--th:field="*{prep_time}"--><input type="radio" name="prep_time" id="longTime">
		<label for="longTime">1 and 1/2 hours</label><br>
		<!--th:field="*{prep_time}"--><input type="radio" name="prep_time" id="advancedTime">
		<label for="advancedTime">Over 1.5 hours</label><br>
		<!--th:field="*{prep_time}"--><input type="radio" name="prep_time" id="allTime">
		<label for="allTime">No rush</label><br>
	</fieldset>
	<form class="md-form">
		<div class="file-field">
			<div class="float-left">
				<span>Paste video URL here:</span>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Upload your file">
			</div>
		</div>
	</form>
	<br>
	<div th:action="@{/profile}" th:method="post">
	<button type="submit" class="btn btn-primary">Submit New Post Here</button>
	</div>
</form>

</body>
</html>