<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Edit Page</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>

<h1>Edit Page</h1>
<form th:action="@{/edit}" method="post">
	<form class="md-form">
		<div class="file-field">
			<div class="btn btn-primary btn-sm float-left" id="profilePic">
				<span>Choose file</span>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" id="imgPath" type="text" placeholder="Upload your file">
			</div>
		</div>
	</form>

	<label name="userAboutMe">About Me:</label>
	<textarea name="aboutMe" placeholder="Edit your About Me"></textarea>

<!--	<input type="hidden" th:value="${userToEdit.getId()}">-->
<!--	<input type="hidden" th:value="${userUser.getById()}">-->
	<button th:action="@{/profile}" th:method="post">Submit edit</button>
</form>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
		const filekey = /*[[${filestack}]]*/ 'default';
		console.log(filekey);
		const client = filestack.init(filekey);

		document.getElementById("profilePic").addEventListener('click', () => {
			client.picker({
				accept: 'image/*',
				onFileUploadFinished: function (file) {
					let imgPath = document.getElementById("imgPath");
					imgPath.value = file.url;
				}
			}).open();});

	/*]]>*/

</script>

</body>
</html>