<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Edit Profile Picture</title>
</head>
<body class="pageBgColor">
<div th:include="partials/navbar.html :: navbar"></div>
<div class="container-fluid createAndEdit">
	<label for="imgPath">Edit User Photo</label>
	<form th:action="@{/edit-picture}" method="post" th:object="${image}">
		<div class="file-field">
			<div class="btn btn-primary btn-sm float-left" id="profilePic">
				<span>Choose file</span>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" id="imgPath" th:field="*{img_path}" type="text" placeholder="Upload your photo">
			</div>
		</div>
		<br>
		<button type="submit">Submit edit</button>
	</form>
</div>


<!--	<input type="hidden" th:value="${userToEdit.getId()}">-->
<!--	<input type="hidden" th:value="${userUser.getById()}">-->






<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
		const filekey = /*[[${filestack}]]*/ 'default';
		console.log(filekey);
		const client = filestack.init(filekey);

		document.getElementById("profilePic").addEventListener('click', () => {
			client.picker({
				accept: 'image/*',
				onFileUploadFinished: function (file) {
					let imgPath = document.getElementById("imgPath");
					imgPath.value = file.url;
				}
			}).open();});

	/*]]>*/

</script>

</body>
</html>