<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
<div id="homeHeader"></div>


<h1>Log In</h1>
<div th:if="${param.error}">
	Invalid Username and Password.
</div>
<div th:if="${param.logout}">
	You have been logged out.
</div>

<form th:action="@{/login}" method="post">
	<label for="username">Username: </label>
	<input id="username" name="username" type="text"/>
	<label for="password">Password: </label>
	<input id="password" name="password" type="password"/>
	<input type="submit" value="Log In"/>
</form>

<form th:action="@{/sign-up}" method="post">
	<a href="sign-up">New User? Register Here</a>
</form>

</body>
</html>