<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body class="pageBgColor">
<div th:include="partials/navbar.html :: navbar"></div>
<div id="homeHeader"></div>


<h1 class="loginH1">Log In</h1>

<form th:action="@{/login}" method="post" class="loginForm">
	<div th:if="${param.error}">
	Invalid Username or Password.
</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<label for="username">Username: </label>
	<input id="username" name="username" type="text"/>
	<label for="password">Password: </label>
	<input id="password" name="password" type="password"/>
	<input type="submit" class="btn btn-outline-primary" value="Log In"/>
</form>
<br>
<form th:action="@{/resetPassword}" method="post" class="forgotPass">
	<a href="resetPassword" class="btn btn-outline-secondary">Forgot Password?</a>
</form>
<br>
<form th:action="@{/sign-up}" method="post" class="register">
	<a href="sign-up" class="btn btn-info">New User? Register Here</a>
</form>

</body>
</html>