<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Recipes Page</title>
</head>
<body>

<nav th:include="partials/navbar.html :: navbar"></nav>

<div>
	<div class="card-deck row" th:each="recipe : ${recipes}">
		<div class="card d-flex flex-column justify-content-between col-md-8">
			<img src="filePathForApiRecipe" style="height: 150px;" alt="This is the picture of a recipe" th:text="${recipe.image}">
			<h5>Name of Dish: </h5>
			<span class="card-title" th:text="${recipe.title}"></span>
			<h6>Rating: </h6>
			<span class="card-subtitle mb-2 text-muted" th:text="${recipe.rating}"></span>
			<br>
				<div>
					<h5>Description: </h5>
					<span th:text="${recipe.description}"></span>
					<h5>Prep Time: </h5>
					<span th:text="${recipe.prep_time}"></span> minutes
					<br>
					<h6 class="card-comments mb-2 text-muted">Comments</h6>
					<p class="card-text">Comments body: </p>
					<a th:href="@{/ingredients}" class="card-link">Link to Ingredients</a>
					<a href="https://www.youtube.com/watch?v=EQoqBJUp6mc&ab_channel=PreppyKitchen" class="card-link" target="_blank">Link for video of recipe</a>
					<h6>Recipe submitted on:</h6>
					<span th:text="${#temporals.format(recipe.timeStamp, 'E dd-MM-yyyy hh:mm a')}"></span>
					<br>
					<div sec:authorize="isAuthenticated()">
					<form th:action="@{'/recipes/edit/' + ${recipe.getId()}}" method="get" ><span th:if="${user.getIsAdmin() == 1}">
						<button class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Edit</button></span>
					</form>

					<form th:action="@{'/recipes/delete/' + ${recipe.getId()}}"  method="post" ><span th:if="${user.getIsAdmin() == 1}">
						<button class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Delete</button></span>
					</form>
					</div>
				</div>
		</div>
<!--		<br>-->
<!--		<div class="card">-->
<!--			<img src="filePathForApiRecipe" style="height: 150px;" alt="This is the picture of a 2nd recipe">-->
<!--			<h5 class="card-title">Name of Dish 2</h5>-->
<!--			<h6 class="card-subtitle mb-2 text-muted">Rating: </h6>-->

<!--			<div class="card-body rotate-border">-->
<!--				<div>-->
<!--					<h6 class="card-comments mb-2 text-muted">Comments</h6>-->
<!--					<p class="card-text">Comments body: </p>-->
<!--					<a th:href="@{/ingredients}" class="card-link">Link to ingredients</a>-->
<!--					<a href="https://www.youtube.com/watch?v=5h974fXFFHE&ab_channel=SAMTHECOOKINGGUY" class="card-link" target="_blank">Link for video of recipe</a>-->
<!--				</div>-->
<!--			</div>-->
	</div>
</div>
<script th:inline="javascript">

</script>
</body>
</html>