<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
	<meta charset="UTF-8">
	<title>Reset Password</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>

<form th:action="@{/profile}" method="get" th:object="${loginUser}">
	<input type="text" th:field="*{username}" placeholder="Enter new Username/email here">
	<br>
	<input type="text" th:field="*{password}" placeholder="Enter new password">
	<br>
	<input type="text" name="resetPassword" placeholder="Confirm new password">
	<br>
</form>

<form th:action="@{/login}" method="get">
	<button type="submit" class="btn btn-primary">Reset Password</button>
</form>

</body>
</html>