#homeHeader {

}

@media only screen and (min-width: 767px) {
    #homeHeader {
        background-image: url("https://www.canva.com/design/DAE11VObjBk/vHJHw0WZE9wcqAlo9foT3g/view?utm_content=DAE11VObjBk&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        height: 100vh;
    }
}