:root {
    --main-bg-color: #f5ecbc;
    --main-border-color: #d4a373;
}

body {
    font-family: 'Poppins', sans-serif;
}

.pageBgColor {
    background-color: var(--main-bg-color);
}

nav {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 1.3rem;
}

#navbar {
    opacity: 70%;
}

.logout {
    font-size: 1.3rem;
}

#createAccount {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

#createAccountText {
    /*border: solid 1px #000000;*/
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 1px rgba(255, 255, 255, 0.6), -1em 0 .4em rgba(255, 255, 255, 0.5);
    padding: .5rem;
}

.dish-row {
    padding-top: 250px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    /*width: 300px; height: 200px;*/
    /*background-color: #ffb703;*/
    /*background-color: #fff3b0;*/
    /*background-color: #9ff5e8;*/
    position: relative;
    /*box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);*/
    border-style: outset;
    border-width: thick;
    border-color: var(--main-border-color);
    box-shadow: 4px 4px 8px #000000;
    margin-right: -75px;
    margin-bottom: 105px;
    margin-top: 10px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
}

#signUpButton {
    margin-bottom: 2rem;
}

.pageBtn {
    color: #fff;
    font-weight: 600;
}

#signUp {
    font-size: 1.3rem;
    width: 60%;
    margin-left: 3.8rem;

}

#homeHeader {
    background-image: url("../img/Banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: inherit;
    height: 72vh;
    min-width: 767px;
    z-index: 0;
}

.shoppingCart{
    margin-left: 20px;
}

.aboutMeParagraph{
    margin-left: 270px;
}
.aboutMeParagraph2{
    margin-left: 325px;
}

#home {
    background-color: var(--main-bg-color);
}

.profileCards {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0;
}

.recipeCard {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

#signUpPage{
    background-color: #f5ecbc;
}

#orderPage {
    background-image: url("../img/Cart-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#signUpButton {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 200px;
    position: static;
    z-index: 0;

}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.randoForm {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.homeRecipes {
    margin: 30px;
}

.loginH1 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
}

.forgotPass {
    display: flex;
    justify-content: center;
    margin: -20px;
}

.register {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.dish1 {

    height: 200px;
    width: 200px;
    /*z-index: 0;*/
}

.dish2 {
    height: 200px;
    width: 200px;
    z-index: 0;

}

.dish3 {
    height: 200px;
    width: 200px;
    /*z-index: -1;*/
}


.rotate-border > div {
    border-top: 3px solid black;
    position: absolute;
    margin: auto;
}

.container-fluid {
    position: fixed;

}

.recipeBody {
    z-index: 100;
}

.customError {
    padding: 0;
    display: flex;
    justify-content: center;
}

#rodPic {
    border-radius: 100px;
    border-style: outset;
    border-width: thick;
    border-color: #3d405b;
    box-shadow: 2px 2px 4px #000000;

    /*float: left;*/
}

#magPic {
    border-radius: 100px;
    border-style: outset;
    border-width: thick;
    border-color: #3d405b;
    box-shadow: 2px 2px 4px #000000;

    /*float: right;*/
}

#dezPic {
    border-radius: 100px;
    border-style: outset;
    border-width: thick;
    border-color: #3d405b;
    box-shadow: 2px 2px 4px #000000;
    /*float: left;*/
}

.dezBorder {
    border-radius: 100px;
    border-style: outset;
    border-width: thick;
    border-color: #3d405b;
}

#alexPic {
    border-radius: 100px;
    border-style: outset;
    border-width: thick;
    border-color: #3d405b;
    box-shadow: 2px 2px 4px #000000;
}

.pic {
    float: left;
}

.Rod-Section {
    background-color: #f4f1de;
    color: #e07a5f;
}

.Mag-Section {
    background-color: #e07a5f;
    color: #f4f1de;
}

.Dez-Section {
    background-color: #f4f1de;
    color: #e07a5f;
}

.Alex-Section {
    background-color: #e07a5f;
    color: #f4f1de;
}

.button2 {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

.button2:hover {
    color: #575050;
    border-color: #b29a9a;
}

.button2:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width: 30em) {
    a.button2 {
        display: block;
        margin: 0.4em auto;
    }
}

#profile {
    background-color: var(--main-bg-color);
}

#profileImgBox {
    height: 185px;
}

#profileImg {
    height: 100%;
    border: 10px solid var(--main-border-color);
    border-radius: 50%;
}

.userRecipeCards {
    display: flex;
    justify-content: center;
}

.createAndEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.whatIs {
    margin-top: 50px;
}

textarea#editBio {
    border-radius: 2%;
    width: 100vh;
}

.recipeImage{
    padding-left: 25px;
}

.catTitle {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.width{
    width: 450px;
}

.pic{
    width: 100%;
    margin: auto;
    display: block;
}

.user-recipe-title{
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.words{
    text-align: center;
}

.editRecipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 15px;
}

.recipeBtn > form > .btn {
    width: 200px;
}

#email-confirm{
    background-image:url("../img/BANNER-IMG.png");
    /*background-image: url("../img/Cart-background.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: inherit;
    height: 72vh;
    /*height: 82vh*/
    min-width: 767px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*justify-content: none;*/
    align-items: center;
    align-content: flex-start;
    /*align-items: flex-start;*/
    text-align: center;
    margin: 2.5rem;
    padding: 3.5em;
}

/*.rating {*/
/*    color: #FFF;*/
/*    font-weight: 500;*/
/*    padding: 30px;*/
/*    text-shadow: 0 3px 3px #2b3c4e;*/
/*}*/

/*.star {*/
/*    display: none;*/
/*}*/

/*.stars {*/
/*    cursor: pointer;*/
/*    font-size: 40px;*/
/*    color: yellow;*/
/*    display: block;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    line-height: 60px;*/
/*    text-align: center;*/
/*    float: left;*/
/*    -moz-transition: all 0.2s;*/
/*    -o-transition: all 0.2s;*/
/*    -webkit-transition: all 0.2s;*/
/*    transition: all 0.2s;*/
/*    text-shadow: 0 3px 3px #2b3c4e;*/
/*}*/
/*.stars:hover {*/
/*    font-size: 50px;*/
/*    color: #FFF;*/
/*    text-shadow: 0 0 5px #b9c9d8;*/
/*}*/
/*.stars:before {*/
/*    display: inline;*/
/*    width: auto;*/
/*    height: auto;*/
/*    line-height: normal;*/
/*    vertical-align: baseline;*/
/*    margin-top: 0;*/
/*    font-family: FontAwesome;*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    text-decoration: inherit;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    content: "\f005";*/
/*}*/

/*.star:checked + .stars ~ .stars:before {*/
/*    content: "\f006";*/
/*}*/

/*#wrapper {*/
/*    display: inline-block;*/
/*}*/
/*#wrapper:hover .stars:before {*/
/*    content: "\f005";*/
/*}*/
/*#wrapper:hover .stars:hover ~ .stars:before {*/
/*    content: "\f006";*/
/*}*/

/*.card:after, .card:before{*/
/*    mix-blend-mode:multiply;*/
/*    filter:none;*/
/*    z-index: -1;*/
/*    content:'';*/
/*    width:calc(100% + (50px * 2));*/
/*    height:calc(100% + (50px * 2));*/
/*    position: absolute;*/
/*    display: block;*/
/*    animation: border 10s ease-in-out infinite;*/
/*    transform:translateX(-50px) translateY(-50px);*/
/*}*/
/*@keyframes border {*/
/*    0%, 100% {*/
/*        -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));*/
/*        clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));*/
/*    }*/
/*    50% {*/
/*        -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);*/
/*        clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);*/
/*    }*/
/*}*/

/*.card:after{*/
/*    animation-delay: -5s;*/
/*    !*background-color: #8ecae6;*!*/
/*    !*background-color: #9e2a2b;*!*/
/*    background-color: #cae2d9;*/
/*    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));*/
/*}*/
/*.card:before {*/
/*    !*background-color: #023047;*!*/
/*    !*background-color: #540b0e;*!*/
/*    background-color: #37686d;*/
/*    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);*/
/*}*/

/*.card:hover:after{*/
/*    animation-delay: -0.1s;*/
/*}*/
/*.card:hover:before, .card:hover:after {*/

/*    animation-duration: 0.2s;*/
/*}*/
