
#homeHeader {
    background-image: url("../img/Banner2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 70vh;
    min-width: 767px;
    z-index: 0;
}


#orderPage{
    background-image: url("../img/Cart-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#signUpButton {
    padding-top: 150px;
    position: fixed;
    z-index: 0;

}

.dish1{

    height: 200px;
    width: 200px;
    /*z-index: 0;*/

}

.dish2{
    height: 200px;
    width: 200px;
    z-index: 0;

}

.dish3{
    height: 200px;
    width: 200px;
    /*z-index: -1;*/
}

.profile-body{
    background-color: darkorange;

}

.rotate-border>div {
    border-top: 3px solid black;
    position: absolute;
    margin: auto;
}

.dish-row{
    padding-top: 250px;
    justify-content: space-evenly;
    align-items: center;

}
.container-fluid{
    position: fixed;

}

.recipeBody{
    z-index: 100;
}

.customError {
    padding: 0;
    display: flex;
    justify-content: center;
}