<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>
<form th:action="@{/aboutUs}">
    <div class="d-flex flex-column justify-content-between">
        <div class="Rod-Section col-12">
            <img class="pic" id="rodPic" src="/img/Rod.jpeg" style='height:300px; width:250px' alt="Rod_pic"><h2 class="developerName">Rodriques Perry</h2>
            <p class="aboutMeParagraph">Rodriques proved to be a jack-of-all-trades during the development of our site. He was crucially to the planning of our database layout and the creation of the database itself. He also aided in the population of recipes in individual cards displayed on different landing pages. Rodriques also ensured our domain was properly created so that anyone with internet access could navigate to our site using the domain name. He worked with the Filestack API to ensure users could upload an image from their device storage or any of their affiliated social media sites. </p>
        </div>

        <div class="Mag-Section col-12">
            <img class="pic" id="magPic" src="img/Mag.jpg" style='height: 300px; width: 250px' alt="Mag_pic"><h2 class="developerName">Kapena Magallan</h2>
            <p class="aboutMeParagraph">Kapena worked on the security and authorization incorporated into Food For Thought. He developed administrative roles and features associated with the accounts of the developers that created the site. He also worked on the team that developed the mapping for our site, allowing users to go to the expected page when they click certain buttons and links. In a pair programming capacity, he developed the functionality to allow users to upload recipe images for recipes they uploaded, as well as the ability to upload a profile picture unique to the signed in user. </p>
        </div>

        <div class="Dez-Section col-12">
            <img class="pic" id="dezPic" src="img/Dez3.png" style='height:275px; width:300px' alt="Dez_pic"><h2 class="developerName">Dezmone Musgrove</h2>
            <p class="aboutMeParagraph2">Dez developed much of the database used to populate and store data for Food For Thought. He made sure that upon creation of an account, the user would receive an email confirming the creation of their account. He also developed the functionality that allows registered users to create, edit, and delete their own recipe cards from their profile page.</p>
        </div>

        <div class="Alex-Section col-12">
            <img class="pic" id="alexPic" src="img/Alex.jpg" style='height:300px; width:250px' alt="Alex_pic"><h2 class="developerName">Alex Riley</h2>
            <p class="aboutMeParagraph">During the construction Food For Thought, Alex worked with the Spoonacular API, using Vanilla Javascript and jQuery to populate the html pages with cards that consist of a recipe title, an image, instructions for completing a dish, as well as a list of ingredients needed to prepare the dish. He also worked developed the shopping list feature, enabling users to add ingredients to their shopping list from a recipe card, that is then emailed to the user to keep for their records when they are in a position to purchase the ingredients to prepare the dish. Alex also contributed with the styling and color schemes for the cards, as well as the backgrounds of all pages.</p>
        </div>
    </div>
</form>
</body>
</html>