<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Food For Thought</title>

</head>
<body id="home">
  <div th:include="partials/navbar.html :: navbar"></div>
  <div id="homeHeader">

    <form th:action="@{/sign-up}" method="get" id="signUpButton">
      <h5>Create an Account Now!</h5>
      <button id="signUp">Sign Me Up!!</button>
    </form>
  </div>


<!--  <div class="recipeBody container">-->
<!--    <form th:action="@{/recipe-search/}" th:method="get" th:object="${recipe}">-->
<!--      <input type="text" name="search" id="search" th:value="${search}"/>-->
<!--      <input type="submit" id="submitSearch" value="search"/>-->
<!--      <div th:if="${not #lists.isEmpty(search)}">-->
<!--      </div>-->
<!--    </form>-->
<!--    </div>-->

  <div class="searchForm container">
    <form th:action="@{/recipe-search/}" th:method="get" th:object="${recipe}">
      <input type="text" name="search" id="search" th:value="${search}"/>
      <input type="submit" id="submitSearch" value="search"/>
      <div th:if="${not #lists.isEmpty(search)}">
      </div>
    </form>
  </div>

  <form th:action="@{singleRecipe}" th:method="get">
    <button id="rando">Randomize a recipe for me :)</button><br>

</form>
<!--  <form th:action="@{questionnaire}" method="get">-->
<!--    <h5>Don't know what to eat? Let us help you decide</h5>-->
<!--    <button id="questionnaire">Help me decide what to eat!</button>-->
<!--  </form>-->
  <div class="card-deck">
    <div class="card col-4">
      <div class="card-body0">
      </div>
    </div>
      <div class="card col-4">
        <div class="card-body1">
        </div>
      </div>
      <div class="card col-4">
        <div class="card-body2">
        </div>
      </div>
    </div>



  <script th:inline="javascript">const spoonkey = /*[[${spoonkey}]]*/ 'default';</script>

</body>
</html>