<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Food For Thought</title>

</head>
<body id="home">
  <div th:include="partials/navbar.html :: navbar"></div>
  <div id="homeHeader">

    <form th:action="@{/sign-up}" method="get" id="signUpButton">
      <div class="form-group" id="createAccount">
        <h3 class="textBackground">Create an Account Now!</h3>
        <button id="signUp" class="btn btn-warning pageBtn text-center">Sign Me Up!!</button>
      </div>
    </form>
  </div>

<!--  <div class="searchForm">-->
<!--<<<<<<< HEAD-->
<!--    <form th:action="@{/recipe-search}" th:method="get" class="input-group d-flex justify-content-center mt-3">-->
<!--=======-->
<!--    <form th:action="@{/recipe-search/{search}}" th:method="post" class="input-group d-flex justify-content-center mt-3">-->
<!--&gt;>>>>>> 156a5345dd6879ceccbf25b3f54d52af489beadd-->
<!--      <input type="text" name="search" id="search" th:value="${search}"/>-->
<!--      <input class="btn btn-warning pageBtn" type="submit" value="search"/>-->
<!--      <div th:if="${not #lists.isEmpty(search)}">-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

  <form th:action="@{singleRecipe}" th:method="get" class="randoForm">

    <button class="button2 btn btn-success" id="rando">Randomize a recipe for me :)</button><br>


    
  </form>


  <div class="card-deck homeRecipes">
    <div class="card col-4">
      <div class="card-body0 recipeCard">
      </div>
    </div>
      <div class="card col-4">
        <div class="card-body1 recipeCard">
        </div>
      </div>
      <div class="card col-4">
        <div class="card-body2 recipeCard">
        </div>
      </div>
    </div>


  <script th:inline="javascript">const spoonkey = /*[[${spoonkey}]]*/ 'default';</script>


</body>
</html>