<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Food For Thought</title>
</head>
<body>

  <div id="homeHeader">
    <div class="container-fluid">
      <div class="dish-row row">
        <img class="dish1" alt="dish1" th:src="@{/img/dish-1.png}"><img class="dish2" alt="dish2" th:src="@{/img/dish2.png}"><img class="dish3" alt="dish3" th:src="@{/img/dish3.png}">
      </div>
    </div>
  </div>

<!--<div>-->
<!--  <form th:action="@{/index}" th:method="get" th:object="recipe">-->
<!--<input type="text" name="search" id="search" th:value="${search}"/>-->
<!--    <input type="submit" value="search"/>-->
<!--    <div th:if="${not #lists.isEmpty(search)}">-->
<!--      <h2>Recipe List</h2>-->
<!--      <table class="table table-striped">-->
<!--        <tr>-->
<!--          <th>Id</th>-->
<!--          <th>Title</th>-->
<!--          <th>Prep Time</th>-->
<!--          <th>Description</th>-->
<!--          <th>Rating</th>-->
<!--        </tr>-->
<!--        <tr th:each="recipe : ${search}">-->
<!--          <td th:text="${recipe.id}"><a href="/recipe/${recipe.recipe_id}">Recipe ID</a></td>-->
<!--          <td th:text="${chefs.username}">Title</td>-->
<!--          <td th:text="${recipe.prep_time}">Prep Time</td>-->
<!--          <td th:text="${recipe.description}">Description</td>-->
<!--          <td th:text="${recipe.rating}">Rating</td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

  <form action="">
    <button id="rando">Randomize a recipe for me :)</button><br>
</form>
  <form th:action="@{questionnaire}" method="get">
    <h5>Don't know what to eat? Let us help you decide</h5>
    <button id="questionnaire">Help me decide what to eat!</button>
  </form>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</body>
</html>