<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>
<body>
<h1>Search Results Page</h1>
<div>
    <h2>Recipe List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Prep Time</th>
            <th>Image</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
<!--        <tr th:each="recipe : ${search}">-->
<!--            <td th:text="${recipe.id}"><a href="/recipe/${recipe.recipe_id}">Recipe ID</a></td>-->
<!--            <td th:text="${recipe.title}">Title</td>-->
<!--            <td th:text="${recipe.prep_time}">Prep Time</td>-->
<!--            <td th:text="${recipe.images}">Image</td>-->
<!--            <td th:text="${recipe.description}">Description</td>-->
<!--            <td th:text="${recipe.rating}">Rating</td>-->
<!--        </tr>-->
    </table>
</div>
</body>
</html>