<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Show Recipe</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>
<form th:action="@{/singleRecipe}" method="post">
<div class="card-deck">
    <div class="card col-4">
        <div class="card-body0">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a th:href="@{/login}" th:method="post" class="card-link">Card link</a>
            <a th:href="@{/login}" th:method="post" class="card-link">Another link</a>
        </div>
    </div>
</div>
</form>

<!--<script th:inline="javascript">/*<![CDATA[*/const spoonkey = /*[[${spoonkey}]]*/ 'default';/*]]>*/</script>-->


<script th:inline="javascript">
    const spoonkey = /*[[${spoonkey}]]*/ 'default';
    console.log(spoonkey);
    const url = "https://api.spoonacular.com/recipes/random?number=1&apiKey=" + spoonkey;
    const options = {
        method: "GET",
    };
    fetch(url, options).then(response => response.json())
        .then(response =>{
            var singleArr = [];
            var iterator = 0;
            for(var i = 0; i < response.recipes.length; i++){

                    singleArr.push(response.recipes[iterator])

                iterator++;
            }
            console.log(singleArr);
            for(var j=0; j <3; j++){
                $(".card-body"+[j]).html("<div><h3>" + singleArr[j].title + "</h3></div><br>"+ "<div><img style='width: 325px' alt='recipeImg' src="+ singleArr[j].image+"></div>" + "<div><p>"+ singleArr[j].instructions + "</p></div>");
            }
        })
        .then(response => console.log(response))

    console.log("minor change for dokku push")
</script>
</body>
</html>